extends layout

block content
	canvas#draw-space(width=500, height=500)
	input#clear-btn(type="button", value="clear")

	div
		div#color-box(style="width:50px;height:50px;")
		div
			p.
				RED
			input#slide-red(type="range", min="0", max="255")
		div
			p.
				GREEN
			input#slide-green(type="range", min="0", max="255")
		div
			p.
				BLUE
			input#slide-blue(type="range", min="0", max="255")

	script(src="/socket.io/socket.io.js")
	script(src="/js/client.js")